{% extends 'base.html' %}

{% block body %}
    {% load staticfiles %}

    <script src="{% static "lib/raphael-2.1.4.min.js" %}"></script>
    <script src="{% static "lib/justgage.js" %}"></script>

    <div id="keg-block"></div>
{% endblock body %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
{% endblock css %}

{% block script %}
    <script>
        function createGauge(keg) {
            return new JustGage({
                id: keg.id,
                value: keg.value,
                min: 0,
                max: keg.capacity,
                label: "oz",
                levelColors: ["#ff0000", "#f9c802", "#a9d70b"],
                hideMinMax: true,
                relativeGaugeSize: true
            });
        }

        var gauges = [];
        var ver = -1;

        function initKegData() {
            gauges = [];

            $(".level").each(function (ind, val) {
                var gauge = createGauge({
                    id: val.id,
                    value: 0,
                    capacity: val.dataset.capacity
                });
                gauge.pk = val.dataset.pk;

                gauges.push(gauge);
            });

            $('.collapsible').collapsible();
            $('.dropdown-button').dropdown();
        }

        function reloadKegData() {
            $("#keg-block").load("{% url 'keg block' %}", initKegData);
        }

        function refresh() {
            $.ajax("{% url 'keg info' %}").done(function(msg) {
                if(ver != msg.ver) {
                    ver = msg.ver;
                    reloadKegData();
                } else {
                    for (g of gauges)
                        if (g.pk in msg)
                            g.refresh(msg[g.pk].level);

                    $(".last-pour").each(function(ind, val) {
                        if(val.dataset.pk in msg)
                            $(val).text(msg[val.dataset.pk].currentPour);
                    })
                }
            });
        }

        setInterval(refresh, 250);
        $(refresh);
    </script>
{% endblock script %}