{% extends 'base.html' %}

{% block body %}
    {% load staticfiles %}

    <script src="{% static "lib/raphael-2.1.4.min.js" %}"></script>
    <script src="{% static "lib/justgage.js" %}"></script>

    <div id="data-block"></div>
{% endblock body %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
{% endblock css %}

{% block script %}
    <script>
        function createGauge(id, pk, capacity, symbol, label, relative, donut) {
            let gauge = new JustGage({
                id: id,
                value: 0,
                min: 0,
                max: capacity,
                symbol: symbol,
                label: label,
                levelColors: ["#ff0000", "#f9c802", "#a9d70b"],
                hideMinMax: true,
                relativeGaugeSize: relative,
                donut: donut
            });
            gauge.pk = pk;

            return gauge;
        }

        function createKegGauge(id, pk, capacity) {
            return createGauge(id, pk, capacity, " oz", "", true, false);
        }


        function createGasGauge(id, pk, gasType) {
            return createGauge(id, pk, 100, "%", gasType, false, true);
        }

        let keg_gauges = [];
        let gas_gauges = [];
        let ver = -1;

        function initData() {
            keg_gauges = [];
            gas_gauges = [];

            $(".beverage-level").each(function(ind, val) {
                let gauge = createKegGauge(val.id, val.dataset.pk, val.dataset.capacity);
                keg_gauges.push(gauge);
            });

            $(".gas-level").each(function(ind, val) {
                let gauge = createGasGauge(val.id, val.dataset.pk, val.dataset.gasType);
                gas_gauges.push(gauge);
            });

            $('.collapsible').collapsible();
            $('.dropdown-button').dropdown();
        }

        function reloadData() {
            $("#data-block").load("{% url 'data block' %}", initData);
        }

        function refresh() {
            $.ajax("{% url 'state info' %}").done(function(msg) {
                if(ver != msg.ver) {
                    ver = msg.ver;
                    reloadData();
                } else {
                    for (let g of gas_gauges)
                        if (g.pk in msg.gas)
                            g.refresh(msg.gas[g.pk].level);

                    for (let g of keg_gauges)
                        if (g.pk in msg.kegs)
                            g.refresh(msg.kegs[g.pk].level);

                    $(".last-pour").each(function(ind, val) {
                        if(val.dataset.pk in msg.kegs)
                            $(val).text(msg.kegs[val.dataset.pk].currentPour);
                    })
                }
            });
        }

        setInterval(refresh, 250);
        $(refresh);
    </script>
{% endblock script %}