{% extends 'base.html' %}
{% load material_form %}

{% block body %}
    <form method="post">
        {% csrf_token %}

        {% ifnotequal id None %}
            <input type="hidden" name="old-id" value="{{ id }}">
        {% endifnotequal %}

        {% form form=form %}{% endform %}
        <input type="submit" value="Submit" />
    </form>
{% endblock body %}

{% block script %}
    {% if custom_js %}
        {% load staticfiles %}
        <script src="{% static custom_js %}"></script>
    {% endif %}
{% endblock script %}